*{
  box-sizing: border-box;
}

body{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  margin: 0;
}

#playingFields{
  /* background-color: #f0f0f0;
  border-radius: 5px; */
  background-image: url(bgField.png);
  background-size: 100%;

}